<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MicroPython - Real-Time Control Components from a web server</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
   <main>
      <h1>MicroPython - Real-Time Control Components from a web server</h1>
      <div class="container">
        <div class="slidecontainer">
          <label for="redSlider" class="color-label">Red</label>
          <input
            type="range"
            min="0"
            max="100"
            value="50"
            class="slider"
            id="redSlider"
          />
          <div>
            <label>Value : </label>
            <b id="redValue">50</b>
          </div>
        </div>
        <div class="slidecontainer">
          <label for="redSlider" class="color-label">Green</label>
          <input
            type="range"
            min="0"
            max="100"
            value="50"
            class="slider"
            id="greenSlider"
          />
          <div>
            <label>Value : </label>
            <b id="greenValue">50</b>
          </div>
        </div>
        <div class="slidecontainer">
          <label for="redSlider" class="color-label">Blue</label>
          <input
            type="range"
            min="0"
            max="100"
            value="50"
            class="slider"
            id="blueSlider"
          />
          <div>
            <label>Value : </label>
            <b id="blueValue">50</b>
          </div>
        </div>
      </div>
    </main>
    <script src="/static/index.js"></script>
  </body>
</html>
